<div class="introduction">
  <h1>あなたのストレスをなくしたい</h1>
  <div class="contents">
    <p>そんな思いからこのプロジェクトは発足いたしました。</p>
    <p>日々の生活の中には、人にとってストレスになることが数多く存在し</p>
    <p>そのせいで自分の夢を追いかける時間が削られたり 不毛な作業を強いられることになります。</p>
    <p>ただ、人生の時間は有限です。</p>
    <p>有限な人生を有意義に過ごすためには、やりたくないことはやらないことが第一です。</p>
    <p>そんな中私達はやりたくないこととして、ゴミ出しルールの確認があがりました。</p>
    <p>なので、私達のミッションは、ゴミ出しルールの確認を自動化できるツールの開発です。</p>
  </div>

</div>
