<header>
  <nav class="header">
    <%= link_to "Top", root_url, class: "logging_links" %>
    <%= link_to "Info", introduction_information_url, class: "logging_links" %>
    <%= link_to "Login", home_index_url, class: "logging_links" %>
    <%= link_to "Sign_up", home_show_url, class: "logging_links" %>
  </nav>
</header>